In [1]:
import numpy as np
import pandas as pd

## Pandas
- 데이터처리와 분석을 위한 파이썬 라이브러리.
- 엑셀의 스프레드시트와 비슷한 테이블 제공
- Series(1D), Dataframe(2D) 두 종류의 자료구조.
- (csv 파일을 받은 후 pandas를 이용해 데이터 가공.)

## 주요기능
- 자유로운 데이터 변환
- 활용도가 높은 Dataframe 객체
- pivot table과 같이 데이터 구조에 대한 변환
- 날짜형 데이터(시계열)
- 다양한 필터링
- 누락된 데이터의 처리 기능

튜토리얼
https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [2]:
pd.__version__

'0.24.2'

## Series 생성하기
- 시리즈 = Numpy배열(값) + 인덱스
- 1차원의 인덱스가 부여된 배열 (인덱스는 숫자 or 문자열 가능)
- SeriesVar = pd.Series(List)
- SeriesVar = pd.Series(Dictionary)
- 판다스와 파이썬 자료형 비교
  - object - string
  - int64 - int
  - float64 - float

In [4]:
s1 = pd.Series([4322, 463, 675, 2, 47])
s1

0    4322
1     463
2     675
3       2
4      47
dtype: int64

In [6]:
s2 = pd.Series(['시', '나무', '자동차', '카페트'])
s2

0      시
1     나무
2    자동차
3    카페트
dtype: object

In [7]:
myList = [35.52, 6.25, 7.3, 35.244, 66.0]
s3 = pd.Series(myList)
s3

0    35.520
1     6.250
2     7.300
3    35.244
4    66.000
dtype: float64

In [8]:
s4 = pd.Series({'a':'apple', 'b':'bus', 'c':'cable'})
s4

a    apple
b      bus
c    cable
dtype: object

### 값, 인덱스, 데이터형 추출
- seriesVar.values
- seriesVar.index
- seriesVar.dtype

In [10]:
print(type(s1), s1.values, s1.index, s1.dtype)
print(type(s4), s4.values, s4.index, s4.dtype)

<class 'pandas.core.series.Series'> [4322  463  675    2   47] RangeIndex(start=0, stop=5, step=1) int64
<class 'pandas.core.series.Series'> ['apple' 'bus' 'cable'] Index(['a', 'b', 'c'], dtype='object') object

#### 시리즈 생성 시 인덱스 정의하기
- SeriesVar = pd.Series(데이터리스트, index=인덱스리트스)
- SeriesVar.index = 인덱스리스트

In [11]:
s5 = pd.Series([1, 35 ,234, 564, 63], index=['a', 'b', 'c', 'd', 'e'])
s5

a      1
b     35
c    234
d    564
e     63
dtype: int64

In [12]:
s5.index = ['aa', 'bb', 'cc', 'dd', 'ee']
s5

aa      1
bb     35
cc    234
dd    564
ee     63
dtype: int64

### index.name, name으로 인덱스이름과 시리즈이름 정의하기
- sVar.index.name : 인덱스이름
- sVar.name : 시리즈 이름

In [13]:
s5.index.name = 'indexName'
s5.name = 'Series s5'
s5

indexName
aa      1
bb     35
cc    234
dd    564
ee     63
Name: Series s5, dtype: int64

## 퀴즈

In [22]:
grade = pd.Series([90, 80, 100, 55, 70])
grade.index = (['국어', '수학', '영어', '과학', '역사'])
grade.index.name = '과목'
grade.name = '중간고사 성적표'
print(grade)
print('평균', grade.mean())

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사 성적표, dtype: int64
평균 79.0

### 시리즈 인덱싱

In [23]:
s6 = pd.Series({'홍길동':23, '신데렐라':31, '백설':52})
s6

홍길동     23
신데렐라    31
백설      52
dtype: int64

In [26]:
# 인덱스 이름으로 추출
s6['홍길동']

23

In [27]:
# 숫자 인덱스로 추출
print(s6[0], s6[1], s6[2], s6[-1])

23 31 52 52