In [1]:
import numpy as np
import pandas as pd

## pd.data_range()
- 연속적인 날짜 데이터에 사용
- pd.date_range(초기날짜, periods=count)

In [3]:
# 연속된 숫자 출력
np.arange(1, 11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
# 연속된 날짜 데이터 생성
date_list = pd.date_range('20190226', periods=5)
date_list

DatetimeIndex(['2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01',
               '2019-03-02'],
              dtype='datetime64[ns]', freq='D')

In [6]:
type(date_list)

pandas.core.indexes.datetimes.DatetimeIndex

## 행별 열별로 정렬
- 데이터프레임이름.sort_index(axis=0)
- 데이터프레임이름.sort_index(axis=1)
- 데이터프레임이름.sort_index(axis=0/1, ascending=False)
- 원본 데이터프레임 데이터값은 변경되지 않는다.

In [7]:
df1 = pd.DataFrame(np.random.randn(6, 4))
df1

          0         1         2         3
0  0.371560 -0.467634  1.194949 -1.114609
1  1.699208  0.574128 -1.462515  1.497053
2  0.772758  0.488895 -0.937426 -0.357970
3  0.000472  1.039187 -1.686793 -0.152662
4 -0.281552  0.976869 -1.324162 -0.845684
5 -0.279657 -0.343336  0.414134  0.229623

In [8]:
df1.columns = ['B', 'A', 'D','C']
df1.index = pd.date_range('20190122', periods=6)
df1

                   B         A         D         C
2019-01-22  0.371560 -0.467634  1.194949 -1.114609
2019-01-23  1.699208  0.574128 -1.462515  1.497053
2019-01-24  0.772758  0.488895 -0.937426 -0.357970
2019-01-25  0.000472  1.039187 -1.686793 -0.152662
2019-01-26 -0.281552  0.976869 -1.324162 -0.845684
2019-01-27 -0.279657 -0.343336  0.414134  0.229623

In [9]:
# 행 위치 조정하기
df1.index

DatetimeIndex(['2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-26', '2019-01-27'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df1.index=['2019-01-27', '2019-01-25', '2019-01-23', '2019-01-22', 
          '2019-01-24', '2019-01-26']
df1

                   B         A         D         C
2019-01-27  0.371560 -0.467634  1.194949 -1.114609
2019-01-25  1.699208  0.574128 -1.462515  1.497053
2019-01-23  0.772758  0.488895 -0.937426 -0.357970
2019-01-22  0.000472  1.039187 -1.686793 -0.152662
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684
2019-01-26 -0.279657 -0.343336  0.414134  0.229623

In [11]:
# 정렬 - 행의 인덱스 기준, 오름차순
df1.sort_index(axis=0)

                   B         A         D         C
2019-01-22  0.000472  1.039187 -1.686793 -0.152662
2019-01-23  0.772758  0.488895 -0.937426 -0.357970
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684
2019-01-25  1.699208  0.574128 -1.462515  1.497053
2019-01-26 -0.279657 -0.343336  0.414134  0.229623
2019-01-27  0.371560 -0.467634  1.194949 -1.114609

In [12]:
# 정렬 - 행의 인덱스 기준, 내림차순
df1.sort_index(axis=0, ascending=False)

                   B         A         D         C
2019-01-27  0.371560 -0.467634  1.194949 -1.114609
2019-01-26 -0.279657 -0.343336  0.414134  0.229623
2019-01-25  1.699208  0.574128 -1.462515  1.497053
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684
2019-01-23  0.772758  0.488895 -0.937426 -0.357970
2019-01-22  0.000472  1.039187 -1.686793 -0.152662

In [18]:
# 정렬 - 열의 인덱스 기준, 내림차순
df1.sort_index(axis=1)

                   A         B         C         D
2019-01-27 -0.467634  0.371560 -1.114609  1.194949
2019-01-25  0.574128  1.699208  1.497053 -1.462515
2019-01-23  0.488895  0.772758 -0.357970 -0.937426
2019-01-22  1.039187  0.000472 -0.152662 -1.686793
2019-01-24  0.976869 -0.281552 -0.845684 -1.324162
2019-01-26 -0.343336 -0.279657  0.229623  0.414134

In [22]:
df1.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-27  1.194949 -1.114609  0.371560 -0.467634
2019-01-25 -1.462515  1.497053  1.699208  0.574128
2019-01-23 -0.937426 -0.357970  0.772758  0.488895
2019-01-22 -1.686793 -0.152662  0.000472  1.039187
2019-01-24 -1.324162 -0.845684 -0.281552  0.976869
2019-01-26  0.414134  0.229623 -0.279657 -0.343336

## 값 기준으로 정렬하기
- 데이터프레임이름.sort_values(by="컬럼명")

In [23]:
df1

                   B         A         D         C
2019-01-27  0.371560 -0.467634  1.194949 -1.114609
2019-01-25  1.699208  0.574128 -1.462515  1.497053
2019-01-23  0.772758  0.488895 -0.937426 -0.357970
2019-01-22  0.000472  1.039187 -1.686793 -0.152662
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684
2019-01-26 -0.279657 -0.343336  0.414134  0.229623

In [24]:
result = df1.sort_values(by='B')
result

                   B         A         D         C
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684
2019-01-26 -0.279657 -0.343336  0.414134  0.229623
2019-01-22  0.000472  1.039187 -1.686793 -0.152662
2019-01-27  0.371560 -0.467634  1.194949 -1.114609
2019-01-23  0.772758  0.488895 -0.937426 -0.357970
2019-01-25  1.699208  0.574128 -1.462515  1.497053

In [25]:
# Series로 추출
result.B

2019-01-24   -0.281552
2019-01-26   -0.279657
2019-01-22    0.000472
2019-01-27    0.371560
2019-01-23    0.772758
2019-01-25    1.699208
Name: B, dtype: float64

### 중복 제거하기
- 데이터이름[열이름].unique()

In [26]:
df1

                   B         A         D         C
2019-01-27  0.371560 -0.467634  1.194949 -1.114609
2019-01-25  1.699208  0.574128 -1.462515  1.497053
2019-01-23  0.772758  0.488895 -0.937426 -0.357970
2019-01-22  0.000472  1.039187 -1.686793 -0.152662
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684
2019-01-26 -0.279657 -0.343336  0.414134  0.229623

In [27]:
# 2개의 새로운 컬럼 추가
df1["E"] = [2, 4, 2, 1, 5, 4]
df1["F"] = ["alpha", "beta", "gamma", "beta", "gamma", "alpha"]
df1

                   B         A         D         C  E      F
2019-01-27  0.371560 -0.467634  1.194949 -1.114609  2  alpha
2019-01-25  1.699208  0.574128 -1.462515  1.497053  4   beta
2019-01-23  0.772758  0.488895 -0.937426 -0.357970  2  gamma
2019-01-22  0.000472  1.039187 -1.686793 -0.152662  1   beta
2019-01-24 -0.281552  0.976869 -1.324162 -0.845684  5  gamma
2019-01-26 -0.279657 -0.343336  0.414134  0.229623  4  alpha

In [28]:
df1['E'].unique()

array([2, 4, 1, 5], dtype=int64)

In [29]:
df1['F'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

## 특정값의 카운트
- 데이터프레임이름[열이름].value_counts()

In [30]:
df2 = pd.DataFrame(np.random.randn(6, 4),
                  columns = ['A', 'B', 'C', 'D'],
                  index = pd.date_range('20190122', periods=6))

df2["E"] = ["alpha", "beta", "gamma", "beta", "gamma", "alpha"]
df2

                   A         B         C         D      E
2019-01-22  0.852182 -1.745750  0.787245  0.771620  alpha
2019-01-23  0.428871 -0.984189 -1.756809  1.006113   beta
2019-01-24  0.140057 -0.428024 -0.802818  1.374216  gamma
2019-01-25 -2.558760 -1.032866  0.718476  1.708555   beta
2019-01-26  1.129068  0.614449  0.417485  1.003282  gamma
2019-01-27 -2.179285  0.449640  0.336555  1.696751  alpha

In [33]:
df2['E'].value_counts()

beta     2
alpha    2
gamma    2
Name: E, dtype: int64

## isin()
- 데이터프레임이름.isin([데이터값1], [데이터값2])
- 데이터프레임이름[컬럼명].isin([데이터값1], [데이터값2])

In [34]:
df2.isin(['alpha'])

                A      B      C      D      E
2019-01-22  False  False  False  False   True
2019-01-23  False  False  False  False  False
2019-01-24  False  False  False  False  False
2019-01-25  False  False  False  False  False
2019-01-26  False  False  False  False  False
2019-01-27  False  False  False  False   True

In [35]:
df2['E'].isin(['alpha'])

2019-01-22     True
2019-01-23    False
2019-01-24    False
2019-01-25    False
2019-01-26    False
2019-01-27     True
Freq: D, Name: E, dtype: bool

In [36]:
df2['E'].isin(['alpha', 'gamma'])

2019-01-22     True
2019-01-23    False
2019-01-24     True
2019-01-25    False
2019-01-26     True
2019-01-27     True
Freq: D, Name: E, dtype: bool

In [37]:
df2[df2['E'].isin(['alpha'])]

                   A        B         C         D      E
2019-01-22  0.852182 -1.74575  0.787245  0.771620  alpha
2019-01-27 -2.179285  0.44964  0.336555  1.696751  alpha