- 네이버 개발자 센터 : https://developers.naver.com/
- open api 신청 - client id, client secret
- 검색 api 분석 : https://developers.naver.com/docs/search/blog/
- urlencode(), urldecode() => 요청url 통째로 인코팅
- quote(), unquote() => 값 자체만 인코딩 또는 디코딩

In [30]:
import urllib.request
import os
import sys

In [7]:
encText = urllib.parse.quote("토이스토리")
url = "https://openapi.naver.com/v1/search/movie.json?query=" + encText # json 결과

url

'https://openapi.naver.com/v1/search/movie.json?query=%ED%86%A0%EC%9D%B4%EC%8A%A4%ED%86%A0%EB%A6%AC'

In [3]:
client_id = "gCI0kggKUmxazphRJi8l"
client_secret = "5q95mKjEMg"

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)

In [4]:
response = urllib.request.urlopen(request)
print(response.getcode())

200

In [5]:
type(response)

http.client.HTTPResponse

In [6]:
print(response.read().decode('utf-8'))

{
"lastBuildDate": "Thu, 01 Aug 2019 15:48:33 +0900",
"total": 14,
"start": 1,
"display": 10,
"items": [
{
"title": "<b>토이 스토리</b> 4",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=101966",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1019/101966_P09_114632.jpg",
"subtitle": "Toy Story 4",
"pubDate": "2019",
"director": "조시 쿨리|",
"actor": "톰 행크스|애니 파츠|토니 헤일|팀 알렌|",
"userRating": "9.08"

},
{
"title": "댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=161036",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1610/161036_P01_153228.jpg",
"subtitle": "Dancing Through Life: The Dorothy Toy Story",
"pubDate": "2016",
"director": "릭 콴|",
"actor": "",
"userRating": "0.00"

},
{
"title": "<b>토이 스토리</b> 공룡 전사들의 도시",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=130784",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1307/130784_P00_112236.jpg",
"subtitle": "Toy Story That Time Forgot",
"pubDate": "2014",
"director": "스티브 퍼셀|",
"actor": "톰 행크스|크리스틴 스칼|팀 알렌|티모시 달튼|조안 쿠삭|",
"userRating": "8.43"

},
{
"title": "<b>토이 스토리</b> 공포의 대탈출",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=101967",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1019/101967_P00_112121.jpg",
"subtitle": "Toy Story of Terror",
"pubDate": "2013",
"director": "앤거스 맥클레인|",
"actor": "톰 행크스|팀 알렌|조안 쿠삭|",
"userRating": "9.34"

},
{
"title": "찰리: 어 <b>토이 스토리</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=107882",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/1078/107882_P01_160934.jpg",
"subtitle": "Charlie: A Toy Story",
"pubDate": "2013",
"director": "게리 A. 브라운|",
"actor": "드류 워터스|레이몬드 오초아|리건 월러스|",
"userRating": "0.00"

},
{
"title": "다락방의 <b>토이 스토리</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=98477",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/0984/98477_P18_140430.jpg",
"subtitle": "Toys in the Attic",
"pubDate": "2012",
"director": "이지 바르타|비비안 쉴링|",
"actor": "포레스트 휘태커|조안 쿠삭|캐리 엘위스|",
"userRating": "7.56"

},
{
"title": "<b>토이 스토리</b> 3",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=66463",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/0664/66463_P46_190114.jpg",
"subtitle": "Toy Story 3",
"pubDate": "2010",
"director": "리 언크리치|",
"actor": "톰 행크스|팀 알렌|조안 쿠삭|",
"userRating": "9.38"

},
{
"title": "<b>토이 스토리</b> 2",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=27578",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/0275/27578_P00_171532.jpg",
"subtitle": "Toy Story 2",
"pubDate": "1999",
"director": "존 라세터|",
"actor": "톰 행크스|팀 알렌|조안 쿠삭|",
"userRating": "9.26"

},
{
"title": "<b>토이 스토리</b>",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=17153",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/0171/A7153-00.jpg",
"subtitle": "Toy Story",
"pubDate": "1995",
"director": "존 라세터|",
"actor": "톰 행크스|팀 알렌|",
"userRating": "9.29"

},
{
"title": "장식품",
"link": "https://movie.naver.com/movie/bi/mi/basic.nhn?code=29178",
"image": "https://ssl.pstatic.net/imgmovie/mdi/mit110/0291/29178_P00_161057.jpg",
"subtitle": "Knick Knack",
"pubDate": "1989",
"director": "존 라세터|",
"actor": "",
"userRating": "8.29"

}
]
}

## 네이버 검색에서 영화 정보 가져오기

In [66]:
# 영화뿐만 아니라 모든 카테고리 검색이 가능하도록 함수 생성

def create_url(api_node, search_text, start_num, disp_num):
    base = "https://openapi.naver.com/v1/search"
    node = "/" + api_node + ".json"
    param_query = "?query=" + urllib.parse.quote(search_text)
    param_start = "&start=" + str(start_num)
    param_disp = "&display=" + str(disp_num)
    
    return base + node + param_query + param_start + param_disp

In [67]:
create_url("movie", "토이스토리", 1, 10)

'https://openapi.naver.com/v1/search/movie.json?query=%ED%86%A0%EC%9D%B4%EC%8A%A4%ED%86%A0%EB%A6%AC&start=1&display=10'

In [68]:
import json

client_id = "gCI0kggKUmxazphRJi8l"
client_secret = "5q95mKjEMg"

url = create_url("movie", "토이스토리", 1, 3)

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)

response = urllib.request.urlopen(request)

result = json.loads(response.read().decode('utf-8'))
result

{'lastBuildDate': 'Thu, 01 Aug 2019 17:10:50 +0900',
 'total': 14,
 'start': 1,
 'display': 3,
 'items': [{'title': '<b>토이 스토리</b> 4',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=101966',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1019/101966_P09_114632.jpg',
   'subtitle': 'Toy Story 4',
   'pubDate': '2019',
   'director': '조시 쿨리|',
   'actor': '톰 행크스|애니 파츠|토니 헤일|팀 알렌|',
   'userRating': '9.09'},
  {'title': '댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=161036',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1610/161036_P01_153228.jpg',
   'subtitle': 'Dancing Through Life: The Dorothy Toy Story',
   'pubDate': '2016',
   'director': '릭 콴|',
   'actor': '',
   'userRating': '0.00'},
  {'title': '<b>토이 스토리</b> 공룡 전사들의 도시',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=130784',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1307/130784_P00_112236.jpg',
   'subtitle': 'Toy Story That Time Forgot',
   'pubDate': '2014',
   'director': '스티브 퍼셀|',
   'actor': '톰 행크스|크리스틴 스칼|팀 알렌|티모시 달튼|조안 쿠삭|',
   'userRating': '8.43'}]}

In [69]:
# total : 총 검색 갯수
#display : 한번에 보여줄 개수. 페이징 가능
result['display']

3

In [70]:
result['items']

[{'title': '<b>토이 스토리</b> 4',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=101966',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1019/101966_P09_114632.jpg',
  'subtitle': 'Toy Story 4',
  'pubDate': '2019',
  'director': '조시 쿨리|',
  'actor': '톰 행크스|애니 파츠|토니 헤일|팀 알렌|',
  'userRating': '9.09'},
 {'title': '댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=161036',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1610/161036_P01_153228.jpg',
  'subtitle': 'Dancing Through Life: The Dorothy Toy Story',
  'pubDate': '2016',
  'director': '릭 콴|',
  'actor': '',
  'userRating': '0.00'},
 {'title': '<b>토이 스토리</b> 공룡 전사들의 도시',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=130784',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1307/130784_P00_112236.jpg',
  'subtitle': 'Toy Story That Time Forgot',
  'pubDate': '2014',
  'director': '스티브 퍼셀|',
  'actor': '톰 행크스|크리스틴 스칼|팀 알렌|티모시 달튼|조안 쿠삭|',
  'userRating': '8.43'}]

In [71]:
len(result['items'])

3

In [72]:
# 리스트 생성
titles = [result['items'][n]['title'] for n in range(3)]
titles

['<b>토이 스토리</b> 4',
 '댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>',
 '<b>토이 스토리</b> 공룡 전사들의 도시']

In [73]:
# 리스트 생성
director = [result['items'][n]['director'] for n in range(3)]
director

['조시 쿨리|', '릭 콴|', '스티브 퍼셀|']

In [74]:
# 리스트 생성
pubDate = [result['items'][n]['pubDate'] for n in range(3)]
pubDate

['2019', '2016', '2014']

In [75]:
import pandas as pd

pd.DataFrame({'영화제목':titles, '감독':director, '개봉년도':pubDate})

                             영화제목       감독  개봉년도
0                 <b>토이 스토리</b> 4   조시 쿨리|  2019
1  댄싱 스루 라이프: 더 도로시 <b>토이 스토리</b>     릭 콴|  2016
2        <b>토이 스토리</b> 공룡 전사들의 도시  스티브 퍼셀|  2014

In [65]:
# <b>, </b> 삭제 => replace
# 다른 문자도 대체 가능
def delete_tag(input_str):
    input_str = input_str.replace("<b>", "")
    input_str = input_str.replace("</b>", "")
    return input_str

In [77]:
def get_dataframe(url):
    client_id = "gCI0kggKUmxazphRJi8l"
    client_secret = "5q95mKjEMg"
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    
    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [delete_tag(result['items'][n]['title']) for n in range(end_num)]
    director = [result['items'][n]['director'] for n in range(end_num)]
    pubDate = [result['items'][n]['pubDate'] for n in range(end_num)]
    
    return pd.DataFrame({'영화제목':titles, '감독':director, '출시일':pubDate})

In [78]:
get_dataframe(url)

                      영화제목       감독   출시일
0                 토이 스토리 4   조시 쿨리|  2019
1  댄싱 스루 라이프: 더 도로시 토이 스토리     릭 콴|  2016
2        토이 스토리 공룡 전사들의 도시  스티브 퍼셀|  2014

In [79]:
[n for n in range(1, 300, 100)]

[1, 101, 201]

In [80]:
result_search = []

for n in range(1, 300, 100):
    url = create_url("movie", "다이", n, 100)
    result_search.append(get_dataframe(url))
    
result_search = pd.concat(result_search)

In [81]:
result_search.shape

(298, 3)

In [82]:
result_search.head()

             영화제목                감독   출시일
0         데드 돈 다이            짐 자무쉬|  2019
1  와이 돈 유 저스트 다이!          키릴 소콜로프|  2019
2       러브 다이 네이버  알렉산더 토마|아만다 아가드|  2019
3       플레이 오어 다이           자크 클루거|  2018
4      파티 하드 다이 영          도미닉 하르텔|  2018

In [83]:
result_search.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 98
Data columns (total 3 columns):
영화제목    298 non-null object
감독      298 non-null object
출시일     298 non-null object
dtypes: object(3)
memory usage: 9.3+ KB

In [84]:
result_search = result_search.reset_index(drop=True)
result_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 3 columns):
영화제목    298 non-null object
감독      298 non-null object
출시일     298 non-null object
dtypes: object(3)
memory usage: 7.1+ KB

## 엑셀에 저장하기
- Dataframe을 엑셀파일로 저장하기

In [87]:
writer = pd.ExcelWriter("../data/Python_movie_info.xlsx", engine='xlsxwriter')
result_search.to_excel(writer, sheet_name='Sheet1')

workbook  = writer.book
worksheet = writer.sheets['Sheet1']

format_center = workbook.add_format({'text_wrap': True})
format_center.set_align('center')
format_center.set_align('vcenter')

worksheet.set_column('A:A', 5)
worksheet.set_column('B:B', 90, format_center)
worksheet.set_column('C:C', 40, format_center)
worksheet.set_column('D:D', 15)

writer.save()